{% extends 'users/base.html'%}
{% load static %}

{% block link %}
    <link rel="stylesheet" type='text/css' href="{% static 'users/css/pass-conf.css' %}">
{% endblock %}


{% block title%}
    Восстановить пароль
{%endblock%}

{% block content %}
    <div class="frame-225" id="passresetID">
        <div class="text-label-m" id="textresetID"> Восстановить пароль </div>
        <form method="post" class="frame-224">
            {% csrf_token %}
            <div class="reset-password2-from">
                <div class="errorpass">
                    {% for errors in form.errors.new_password2 %}
                        {{ errors }}
                    {% endfor %}
                </div>
                <input class="frame-4-c" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="Введите новый пароль">
                <input class="frame-4-c" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Подтвердите новый пароль">
                <button class="btn1 btn-outline" type="submit" id="changebtnID"> Изменить пароль </button>
            </div>
        </form>
    </div>
{%endblock%}
