{% extends 'users/base.html'%}
{% load static %}

{% block link %}
    <link rel="stylesheet" type='text/css' href="{% static 'users/css/pass-reset.css' %}">
{% endblock %}

{% block title%}
    Восстановление пароля
{%endblock%}

{% block content %}
    <div class="frame-125" id="resetID">
        <div class="text-label-m"> Восстановить пароль </div>
        {% if messages %}
            {% for mess in messages %}
                <div class="errorlist-email"> {{ mess }}</div>
            {%endfor%}
        {% endif %}
        <form method="post" class="frame-124" id="pass-reset-form-id">
            {% csrf_token %}
            {{ form.errors }}
            <div class="passform">
                <input class="frame-4" type="email" name="email" autocomplete="email" maxlength="254" id="id_email" placeholder="Email">
                <div class="error"></div>
            </div>
            <button class="btn btn-outline-primary" type="submit"> Прислать подтверждение </button>
        </form>
    </div>
{%endblock%}

{% block scripts %}
    <script src="{% static 'users/js/pass-reset.js' %}" defer></script>
{% endblock %}

