{% extends 'users/base.html'%}
{% load static %}

{% block title%}
    Cоздание команды
{%endblock%}

{% block content %}

<div class="columns" id="team-app">
    <div class="column is-4">
        <h1 class="title"> Cоздай команду </h1>
        <form method="post" action="." @submit="validateForm">
            {% csrf_token %}
            <div class="field">
                <label>Имя команды</label>
                <div class="control">
                    <input type="text" name="name" id="id_name" v-model="name" placeholder="Имя команды">
                </div>
            </div>
            <div class="field">
                <label>Описание команды</label>
                <div class="control">
                    <input type="text" name="description" id="id_description"  placeholder="Описание">
                </div>
            </div>
            <div class="field">
                <label>Колличество человек </label>
                <div class="control">
                    <input type="text" name="count_of_players" id="id_count_of_players" placeholder="Колличество человек">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="btn btn-primary" type="submit"> Подтвердить и создать </button>
            </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}

{% block scripts %}
{%endblock%}

