{% extends 'users/base.html'%}
{% load static %}

{% block title%}
    Cоздание команды
{%endblock%}

{% block link %}
    <link rel="stylesheet" type='text/css' href="{% static 'users/css/search.css' %}">
{% endblock %}

{% block content %}

<div class="columns" id="team-app">
    <div class="column is-4">
        <h1 class="title"> Cоздай команду </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="field">
                <form autocomplete="off" id="search-form" method="post">
                    {% csrf_token %}
                    <input type="text" id="search-input" class="text_label" placeholder="Поиск пользователей">
                </form>
                <div id="results-box" class="results-card not-visible">
                </div>   
            </div> -->
            <div class="field">
                <label>Имя команды</label>
                <div class="control">
                    <input type="text" name="name" id="id_name" v-model="name" placeholder="Имя команды">
                </div>
            </div>
            <div class="field">
                <label>Описание команды</label>
                <div class="control">
                    <input type="text" name="description" id="id_description"  placeholder="Описание">
                </div>
            </div>
            <div class="field">
                <label>Колличество человек </label>
                <div class="control">
                    <input type="text" name="count_of_players" id="id_count_of_players" placeholder="Колличество человек">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="btn btn-primary" type="submit"> Подтвердить и создать </button>
            </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}

{% block scripts %}
    <script src="{% static 'users/js/search.js' %}" defer></script>
{%endblock%}

