{% extends 'users/base.html'%}
{% load static %}

{% block link %}
    <link rel="stylesheet" type='text/css' href="{% static 'teams/css/user-teams.css' %}">
{% endblock %}

{% block title%}
    Мои команды
{%endblock%}

{% block content %}
    <div class="my-teams">
        {% if target.id == user.id %}
            <div class="text-label-mt"> Мои команды </div>
            {% if messages %}
            {% for mess in messages %}
                <div class="alert" id="hide">
                    {{ mess }}
                    <div class="btn-close">
                        <svg class="icon-close" enable-background="new 0 0 256 256" height="256px" id="Layer_1" version="1.1" viewBox="0 0 256 256" width="256px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M183.191,174.141c2.5,2.498,2.5,6.552,0,9.05c-1.249,1.25-2.889,1.875-4.525,1.875c-1.638,0-3.277-0.625-4.525-1.875  l-46.142-46.142L81.856,183.19c-1.249,1.25-2.888,1.875-4.525,1.875c-1.638,0-3.277-0.625-4.525-1.875c-2.5-2.498-2.5-6.552,0-9.05  l46.143-46.143L72.806,81.856c-2.5-2.499-2.5-6.552,0-9.05c2.497-2.5,6.553-2.5,9.05,0l46.142,46.142l46.142-46.142  c2.497-2.5,6.553-2.5,9.051,0c2.5,2.499,2.5,6.552,0,9.05l-46.143,46.142L183.191,174.141z M256,128C256,57.42,198.58,0,128,0  C57.42,0,0,57.42,0,128c0,70.58,57.42,128,128,128C198.58,256,256,198.58,256,128z M243.2,128c0,63.521-51.679,115.2-115.2,115.2  c-63.522,0-115.2-51.679-115.2-115.2C12.8,64.478,64.478,12.8,128,12.8C191.521,12.8,243.2,64.478,243.2,128z"/></svg>
                    </div>
                </div>
            {%endfor%}
        {% endif %}
        {% else %}
            <div class="text-label-mt"> Команды {{ target.email }} ({{ target.full_name }}) </div>
        {% endif %}
        <div class="block-teams" id="teamID">
            {% for team in target.teams.all %}
                <a href="{% url 'team' team.id %}" class="icon-team">
                    <div class="frame-19">
                        <div class="frame-26">
                            <div class="frame-17">
                                <div class="frame-21">
                                    <img src="{{ team.img.url }}" alt="" class="unsplash">
                                </div>
                                <div class="frame-25">
                                    <div class="text_label_t valign-text-middle lato-semi-bold-ship-gray-23px"> {{ team.name }} </div>
                                </div>
                            </div>
                            <div class="text_label valign-text-middle lato-semi-bold-ship-gray-20px"> {{team.description|striptags|truncatechars:50}} </div>
                            <div class="frame-20">
                                <div class="frame-19-pl">
                                    <div class="valign-text-middle players  lato-normal-ship-gray"> {{team.members.all|length}} / {{team.count_of_players}} участников </div>
                                </div>
                            </div>
                        </div>
                        <div class="sbor valign-text-middle lato-normal-ship-gray"> Cбор до  </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% if target.id == user.id %}
            <div class="frame-99">
                <a href="{% url 'team-create' %}">
                    <button class="btn btn-outline-dark"> Cоздать команду </button>
                </a>
            </div>
        {% elif not user.is_authenticated %}
            <div class="frame-99 lato-normal-ship-gray"> Нет аккаунта? Зарегестрируйтесь, чтобы создавать команды и приглашать в них участников! <a href="{% url 'login' %}"> Войти</a> </div>
        {% else  %}
            <div class="frame-99">
                <a href="">
                    <button class="btn btn-outline-dark "> Пригласить в команду </button>
                </a>
            </div>
        {% endif %}
    </div>
{%endblock%}

{% block scripts %}
    <script src="{% static 'users/js/profile.js' %}" defer></script>
{% endblock %}
