.profile-owner {
    display: flex;
    align-items: flex-start;
    border: 1px none;
    flex-wrap: wrap;
    margin-left: 320px;
    margin-top: 107px;
    flex-direction: row;
    margin-bottom: 74px;
}

.all-personal {
    display: flex;
    flex-direction: column;
}

.profile-main-info {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 30px;
}

@media screen and (max-width: 924px) {
    #profileownerID {
        display: flex;
        align-items: flex-start;
        border: 1px none;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-top: 107px;
        flex-direction: row;
    }
    #profilemainID {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }
    #myteamsID {
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin-left: 10px;
    }
    #updatebtnID {
        display: flex;
        align-items: flex-start;
        width: auto;
        margin-left: -10px;
        margin-top: 25px;
        margin-bottom: 15px;
        border: 2px solid;
        border-color: rgba(63, 63, 63, 1);
        border-radius: 6px;
        padding: 10px 15px;
        background-color: transparent;
    }
}

.frame-83 {
    align-items: flex-start;
    border: 2.2px solid;
    border-color: rgba(243, 245, 247, 1);
    border-radius: 8.8px;
    display: flex;
    height: 224px;
    overflow: hidden;
    width: 224px;
}

.bd-placeholder-img {
    height: 220px;
    width: 220px;
    object-fit: cover;
}

.frame-85 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 330px;
    margin-top: 38px;
}

.frame-84 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;
}

.text-label-n {
    align-self: stretch;
    letter-spacing: 0px;
    margin-top: -1px;
}

.age {
    align-self: stretch;
    letter-spacing: 0px;
    line-height: 26px;
    white-space: nowrap;
}

.city {
    align-self: stretch;
    letter-spacing: 0px;
    line-height: 26px;
    white-space: nowrap;
}

.social-media {
    align-items: flex-start;
    display: flex;
    height: min-content;
    min-width: 132px;
    gap: 15px;
}

.frame-icon-5 {
    height: 20px;
    min-width: 20px;
}

.frame-icon-3 {
    height: 25px;
    min-width: 25px;;
}

.frame-icon-check1 {
    height: 20px;
    min-width: 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 2px;
}

.frame-icon-check {
    height: 25px;
    min-width: 25px;
    margin-bottom: 2px;
}

.frame-86 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 2.2px;
    max-width: 540px;
}

.grad > .text:first-child  {
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-label-a{
    letter-spacing: 0px;
    margin-top: -1px;
    width: fit-content;
}

.show-hide-btn {
    width: fit-content;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.show-hide-btn:hover {
    color: #617AD1;
}

.show-full-btn {
    width: fit-content;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.show-full-btn:hover {
    color: #617AD1;
}


.hr-dashed-bg0 {
    margin-top: auto;
    max-width: 105px;
    border: none;
	border-top: 2.5px dashed rgba(63, 63, 63, 1);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.hr-dashed-bg {
    margin-top: auto;
    max-width: 65px;
    border: none;
	border-top: 2.5px dashed rgba(63, 63, 63, 1);
}

.frame-90 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    max-width: 540px;
}

.vector-public {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

.vector-exp {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

.vector-ed {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

.btn {
    align-items: flex-start;
    border: 1px none;
    border-radius: 6px;
    display: flex;
    gap:10px;
    mix-blend-mode: normal;
    padding: 13px 30px;
    width: fit-content;
    background-color: #6f8eff;
    color: white;
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    margin-top: 23px;
}

.btn:hover {
    background-color: #617AD1;
}

.btn-update {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin-left: 275px;
    border: 2px solid;
    border-color: rgba(63, 63, 63, 1);
    border-radius: 6px;
    padding: 10px 30px;
    background-color: transparent;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.my-teams {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 40px;
}

.frame-92 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.frame-92:hover {
    fill: #617AD1;
    stroke: #617AD1;
    border: none;
    color: #617AD1;
}

.arrow {
    background-color: transparent;
    height: 28px;
    min-width: 28px;
    mix-blend-mode: normal;
}

.block-teams {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 40px;
}


.frame-19 {
    background-color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    height: 387px;
    width: 290px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0;
    transition: 400ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 400ms;
    -webkit-transition-timing-function: ease-in-out;
    box-shadow: 0 10px 10px -5px rgb(204, 200, 200);
}

.frame-19:hover {
    box-shadow: 5px 5px 20px rgb(165, 162, 162);
}

.frame-26 {
    align-items: flex-start;
    align-self: center;
    border: 1px none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 250px;
}

.frame-17 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 10px;
    width: 250px;
}

.unsplash {
    background-color: transparent;
    height: 40px;
    mix-blend-mode: normal;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
    mix-blend-mode: normal;
}

.frame-25 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex: 1;
    gap: 10px;
    padding: 5px 0px 7px;
}

.text_label {
    align-self: stretch;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.5;
    word-wrap: break-word;
    word-break: break-all; 
}

.frame-20 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.players {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 26px;
    width: fit-content;
    mix-blend-mode: normal;
    white-space: nowrap;
}

.sbor {
    height: 26px;
    letter-spacing: 0;
    line-height: 26px;
    margin-left: 86px;
    margin-top: 320px;
    min-width: 184px;
    white-space: nowrap;
    position: absolute;
}

.frame-93 {
    margin-top: 20px;
}

.alert {
    top: 130px;
    align-items: flex-start;
    border: 1px none;
    border-radius: 8px;
    display: flex;
    height: auto;
    mix-blend-mode: normal;
    padding: 5px 5px;
    width: auto;
    background-color: #45b93a;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.btn-close {
    background:none;
    border:none;
    cursor:pointer;
    display: flex;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    outline: none;
    margin-left: 5px;
    margin-top: 2px;
}

.icon-close {
    width: 20px;
    height: 20px;
    position: relative;
    fill: white;
    stroke: white;
} 

.btn-close:hover {
    transform: scale(1.09);
    border: none;
    background: none;
    outline: none;
}