@media screen and (max-width: 924px) {
    #updateprofileID {
        display: flex;
        align-items: flex-start;
        border: 1px none;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 50px;
        margin-top: 60px;
        gap: 70px;
        margin-bottom: 74px;
    }
    #leftpartframeID .form {
        max-width: 296px;
    }
    #rightpartframeID .form1 {
        max-width: 296px;
    }
    #rightpartframeID .form-about {
        max-width: 296px;
    }
}

.update-profile {
    display: flex;
    align-items: flex-start;
    border: 1px none;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 320px;
    margin-top: 60px;
    gap: 70px;
    margin-bottom: 74px;
}

.frame-83 {
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: auto;
    max-width: 220px;
}

.frame-131 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.update-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px;
}

.left-part-frame {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-part-frame {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.frame-128 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form {
    align-items: flex-start;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    height: auto;
    padding: 9px;
    position: relative;
    width: 396px;
}

.form1 {
    align-items: flex-start;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    height: auto;
    padding: 9px;
    position: relative;
    width: 513px;
}


.form-about {
    align-items: flex-start;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 8px;
    display: flex;
    height: 180px;
    position: relative;
    width: 513px;
    padding: 10px;
    margin-top: -1px;
    text-align: start;
}

textarea {
    resize: none;
 }


.frame-130 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.photo {
    height: 220px;
    mix-blend-mode: normal;
    width: 220px;
    object-fit: cover;
    filter: brightness(60%);
    border-radius: 8.8px;
}

.input-file {
    background: url("/pictures/icons/photo.svg") no-repeat  50% 50%;
    height: 110px;
    width: 70px;
    margin-left: 75px;
    margin-top: -160px;
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    white-space: nowrap;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.input-file:hover {
    transform: scale(1.2)
}

.up {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.input-file-list {
    margin-top: 15px;
}


.input-file-list-item {
    object-fit: cover;
    border: 2.2px solid;
    border-color: rgba(243, 245, 247, 1);
    border-radius: 8.8px;
    position: relative;

}

.input-file-list-img {
    object-fit: cover;
    border: 2.2px solid;
    border-color: rgba(243, 245, 247, 1);
    border-radius: 8.8px;
    position: relative;
    width: 220px;
    height: 220px;
}

.input-file-list-name {
	text-align: center;
	display: block;
	font-size: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
    max-width: 220px;
}

.input-file-list-remove {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 5px;
	right: 5px;
	background: #ff0202;
	width: 20px;
	height: 19px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
}

.btn {
    align-items: flex-start;
    border: 1px none;
    border-radius: 6px;
    display: flex;
    gap:10px;
    height: auto;
    left: 0px;
    mix-blend-mode: normal;
    padding: 13px 30px;
    width: fit-content;
    background-color: #6f8eff;
    color: white;
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    margin-top: 30px;
}

.btn:hover {
    background-color: #617AD1;
}